@model BookStore.Models.ChangePassword
@{
    ViewBag.Title = "AdminChangePassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="~/Scripts/MyJs/Validation.js"></script>
<script src="~/Scripts/MyJs/preventBack.js"></script>
@using (Html.BeginForm("AdminChangePassword", "Admin", FormMethod.Post, new { id = "myForm", @enctype = "multipart/form-data" }))
{
    <div class="change-apass-container">
        <div class="change-apass-box">
            <div>
                <img src="~/Content/Images/changAdminPassword.jpg" width="270px;" height="270px" />
            </div>
            <div class="change-apass">
                <table>
                    <tr>
                        <td><h1>Change password</h1></td>
                    </tr>
                    <tr>
                        <td>
                            <p>New Password</p>
                            @Html.PasswordFor(m => m.Password)<br />
                            <span id="passwordErrorMessage" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Confirm Password</p>
                            @Html.PasswordFor(m => m.ConfirmPassword)<br />
                            <span id="confirmPasswordErrorMessage" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Submit" class="password-chnage-btn" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @ViewBag.successfulmessage
                            @ViewBag.failuremessage
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
}
