
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}
<script src="~/Scripts/MyJs/preventBack.js"></script>
<h2 class="about-h-continer">About us</h2>
<p class="about-p">BookStore is a meta-search engine for comparing books prices and know availability across all popular Indian book stores.</p>
<i>
    <p class="p-about">
        Why should I use IndiaBookStore?
        Save TIME. Save MONEY. Don't believe me? Here is how -
    </p>
</i>
<p class="about-p">
    There are a number of good stores from where you can buy books online.
    Though, the pricing of the books varies from store to store. You favorite online store might not be THE cheapest every time.
    So depending on how much you're saving and if your book's availability,
    you might want to get a book from somewhere other than your preferred store.
    We help you do all this in just one click!

    IndiaBookStore significantly eases this search process.
    Just start your searches from here and then head on to the bookstore which you find best and continue with your online book purchase.
    No more opening multiple windows and searching on each store.
</p>
<i>
    <p class="p-about">
        Online Bookstore: Shop Online for Books
    </p>
</i>
<p class="about-p">
        Books act as a medium that bring to you the world of learning and knowledge.
        From timeless classics to fictions, books for children and teenagers, school books and books for competitive exams, they improve our vocabulary and increase our knowledge.
        The nursery rhymes books, comics and graphic novels, and illustrative story books help the young minds grow a power of imagination,
        while the characters give them knowledge about the world.
        Buying books online will make sure that every member of your family has a book that suits their reading needs.
 </p>
