
@{
    ViewBag.Title = "MainPage";
    Layout = "~/Views/Shared/HomePageLayout.cshtml";
}
<script src="~/Scripts/MyJs/preventBack.js"></script>
<div class="carousel">
    <div class="slide">
        <img src="~/Content/Images/Book_Caruosel1.JPG" name="image_slide" />
    </div>
    <div class="slide">
        <img src="~/Content/Images/Book_Caruosel2.png" name="image_slide">
    </div>
    <div class="slide">
        <img src="~/Content/Images/Book_Caruosel3.jpg" name="image_slide">
    </div>
    <div class="slide">
        <img src="~/Content/Images/Book_Caruosel4.png" name="image_slide">
    </div>
    <div class="slide">
        <img src="~/Content/Images/Book_Caruosel5.jpg" name="image_slide">
    </div>
    <div class="slide">
        <img src="~/Content/Images/Book_Caruosel6.jpg" name="image_slide">
    </div>

    <button class="prev" id="prev-button">&#8249;</button>
    <button class="next" id="next-button" style="right: 0px;">&#8250;</button>
</div>

<div class="main-page-trending">
    <i><h1>Now Trending</h1></i>
    <img src="~/Content/Images/book1.jpg" />
    &nbsp;
    <img src="~/Content/Images/book2.jpg" />
    &nbsp;
    <img src="~/Content/Images/book3.jpg" />
    &nbsp;
    <img src="~/Content/Images/book4.jpg" />
    &nbsp;
    <img src="~/Content/Images/book5.jpg" />
    &nbsp;
    <img src="~/Content/Images/book6.jpg" />
    &nbsp;
    <img src="~/Content/Images/book7.jpeg" />
</div>

<div class="main-page-hurry">
    <img src="~/Content/Images/hurry.jpg" />
</div>

<div class="main-page-arrival">
    <i><h1>New Arrival </h1></i>
    <img src="~/Content/Images/abook1.jpg" />
    <img src="~/Content/Images/abook2.jpg" />
    <img src="~/Content/Images/abook3.jpg" />
    <img src="~/Content/Images/abook4.jpg" />
    <img src="~/Content/Images/abook5.jpg" />
    <img src="~/Content/Images/abook6.jpg" />
    </div>

 <script src="~/Scripts/MyJs/ImageCaruosel.js"></script>
